/* custom css */
body {
	background: #090b0a;
	margin: 0;
	padding: 0;
	height: 100%;
}

@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: local('Orbitron Regular'), local('Orbitron-Regular'),
		url(https://fonts.gstatic.com/l/font?kit=yMJRMIlzdpvBhQQL_Tq5ZSZBu-dKbmzE5FWonAl7Bg&skey=1145794a0c86a867&v=v10)
		format('woff2');
}

@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: bold;
	src: local('Archivo Regular'), local('Archivo-Regular'),
		url(https://fonts.gstatic.com/l/font?kit=k3kQo8UDI-1M0wlSTdv6JXHwG5G5xDnJypWgWlrW&skey=8131191f4580dfcb&v=v4)
		format('woff2');
}

table.chartstable {
	border-spacing: 6px 3px;
}
table.detailestable {
	border-spacing: 9px 3px;
}


$(
document ).ready (function() { $('.rotate ').css('height',
	$('.rotate').width());
	
}

);
tr:nth-of-type(5) td:nth-of-type(1) {
	visibility: hidden;
}


.sidebtn {
	text-orientation: sideways;
	display: table-cell;
	vertical-align: center;
	width: 100%;
	height: 100%;
	/*transform:rotate(7deg);*/
	-ms-transform: rotate(-90deg); /* IE 9 */
	-moz-transform: rotate(-90deg); /* Firefox */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
	min-height: 30px;
	position: relative;
	border: 1px solid #333;
	border-radius: 8px;
	padding: 2px 2px;
	margin-left: 0px;
	font: 12pt Calibri bold;
	font-variant: small-caps;
	color: #fff;
	text-shadow: 0 0 0;
	outline: 0;
	letter-spacing: 2px;
	text-shadow: 0 1px 4px #111;
	/*box-shadow*/
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2), inset 0 1px 0
		rgba(255, 255, 255, .2), inset 0 -1px 1px rgba(255, 255, 255, .1);
	/*linear-gradient*/
	background: linear-gradient(#333, #666);
}

.rotate {
	position: relative;
	text-align: left;
	padding: 2px 2px;
	margin-top: 100px;
	font: 12pt Calibri bold;
	font-variant: small-caps;
	color: #fff;
	text-shadow: 1 1 1;
	outline: 0;
	letter-spacing: 2px;
	text-shadow: 0 1px 4px #111;
	/*box-shadow*/
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2), inset 0 1px 0
		rgba(255, 255, 255, .2), inset 0 -1px 1px rgba(255, 255, 255, .1);
	/*linear-gradient*/
	-moz-transform: rotate(-90.0deg); /* FF3.5+ */
	-o-transform: rotate(-90.0deg); /* Opera 10.5 */
	-webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
	/* IE6,IE7 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
	/* IE8 */
}

.divisioncolor {
	/* background-color: #6ec1e4; */
	
}

.rmc-2 {
	position: relative;
	min-height: 1px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	margin-left: 1px;
	background-image: linear-gradient(to bottom, rgba(22, 22, 21, 0.6),
		rgba(9, 11, 10, 0));
	float: left;
	width: 32.583%;
	/*background-color:rgba(22,22,22,0.6);*/
}

.rmc-6 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 50%;
}

.rmc-1 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 100%;
}

.MultiCarousel {
	float: left;
	overflow: hidden;
	/*padding: 15px; */
	width: 100%;
	position: relative;
	padding-bottom: 15px;
}

.MultiCarousel .MultiCarousel-inner {
	transition: 1s ease all;
	float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
	float: left;
	padding-left: 3px;
}

.MultiCarousel .MultiCarousel-inner .item>div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background: #f1f1f1;
	color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
	position: absolute;
	border-radius: 50%;
	top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
	left: 0;
	padding: 0px 6px !important;
	background-color: #0b0c21;
	border: 1px solid #fff;
}

.MultiCarousel .rightLst {
	right: 0;
	padding: 0px 6px !important;
	background-color: #0b0c21;
	border: 1px solid #fff;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
	pointer-events: none;
	background: rgba(204, 204, 204);
	color: #333;
}

.pad50 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.issuebtn {
	background-color: #5a48c3;
	color: #fff;
	border: none;
	width: 90px;
	height: 30px;
	margin-top: 5px;
}



.filterbtn {
	background-color: #6ec1e4;
	color: #fff;
	border: none;
	height: 18px;
	text-shadow: 0px 0px 5px #a5d7e2, 0 0 0px rgba(212, 241, 255, 1), 0 0
		0px rgba(212, 241, 255, 0.1), 0 0 0px rgba(212, 241, 255, 1);
}

.streambtn {
	background-color: transparent;
	text-align: left !important;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 10px #fff;
	color: #fff;
	/*text-shadow: 0 0 0px rgba(212,241,255,1) , 0 0 0px rgba(212,241,255,0.1) , 0 0 0px rgba(212,241,255,1);*/
}

.streambtn:hover {
	color: #a6f5fa;
}

.top5 {
	top: 5px;
}

.mart5 {
	margin-top: 5px;
}

.mart10 {
	margin-top: 10px;
}

.mart30 {
	margin-top: 30px;
}

.mart40 {
	margin-top: 40px;
}

.mart50 {
	margin-top: 50px;
}

.marl5 {
	margin-left: 5px !important;
}

.marr5 {
	margin-right: 5px !important;
}

.marl30 {
	margin-left: 30px !important;
}

.marl10 {
	margin-left: 10px !important;
}

.marl20 {
	margin-left: 20px !important;
}

.marr18 {
	margin-right: 18px !important;
}

.fa-circle {
	font-size: 11px !important;
}

.blackbg {
	background-color: #151515;
	border-left: 1px solid rgba(255, 255, 255, 0.35);
}

.red {
	color: #ae0001;
}

.green {
	color: #03c72d;
}

.chart-width {
	width: 33.333%;
}

.comments {
	display: block;
	text-align: right;
	margin: 10px 0px 0px 0px;
	color: #ffffff;
	border: none;
	position: relative;
	z-index: 1;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 0px
		rgba(255, 255, 255, 0.3), 0 0 0px rgb(255, 255, 255);
	padding-right:10px;
	
}

.graphtitle {
	display: block;
	text-align: left;
	margin: 10px 0px 0px 0px;
	color: #ffffff;
	border: none;
	position: relative;
	z-index: 1;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 0 0 0px rgb(255, 255, 255), 0 0 0px
		rgba(255, 255, 255, 0.3), 0 0 0px rgb(255, 255, 255);
	/* box-shadow: 0px 4px 6px -6px rgba(0,0,0,5); */
}

.lastupdated {
	font-size: 20px;
	font-family: 'Orbitron';
	color: #ddd830;
	margin: 8px 0px 0 0;
	font-weight: bold;
	text-align: center;
	float: none;
}
.bargraph{
	padding-left: 15px;
	border: 1px solid rgba(255,255,255,0.6);
	background-color:rgba(0,0,0,0.2);
	margin:5px;
}
.scatterplot{
	border: 1px solid rgba(255,255,255,0.6);
	background-color:rgba(0,0,0,0.2);
}
.heatmap{
	border: 1px solid rgba(255,255,255,0.6);
	background-color:rgba(0,0,0,0.2);
}
.heatmap .graphtitle{
	text-align:center;
}
.timeseries{
	padding-left: 15px;
	border: 1px solid rgba(255,255,255,0.6);
	background-color:rgba(0,0,0,0.2);
}
.mt-38 {
	margin-top: -25px;
	background-color: "red";
}

.marb10 {
	margin-bottom: 10px;
}

.marb5 {
	margin-bottom: 5px;
}

.headerbg {
	background-color: transparent;
}

.borderright {
	border-right: 5px solid #090b0a;
}

.superscript {
	color: #fff;
	display: block;
	position: relative;
	left: 7px;
	top: -23px;
	font-size: 10px !important;
	border-radius: 2px;
	background: #fa3e3e;
	height: 17px;
	padding: 2px;
}

.marl3 {
	margin-left: -3px !important;
}

.tnine {
	width: 26px !important;
}

.dnine {
	width: 17px !important;
}

.onine {
	width: 15px !important;
	padding: 4px !important;
}

.modal-content {
	background-color: #090b0a !important;
	border: 3px solid rgb(1, 53, 167) !important;
	/* height: 500px; */
	/* overflow-y: scroll; */
}

.datepic {
	right: 21% !important;
	top: 80% !important;
	background-color: #212121 !important;
	border: 2px solid rgba(166, 245, 250, 0.6) !important;
	height: 220px !important;
}

.reports-dropdown {
	height: 110px !important;
	border: 2px solid rgba(166, 245, 250, 0.6) !important;
}

.toporders {
	color: #fff;
	width: 100%;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
}

.toporders tr th {
	font-weight: 600;
	font-size: 10pt;
	color: rgb(124, 181, 236);
	width: 90px;
}

.toporders tr td {
	font-weight: normal;
	font-size: 10pt;
	color: #fff;
	width: 90px;
	padding: 8px;
}

.pie-times {
	color: #fff;
	margin-left: 25px !important;
	margin-top: 5px;
}

.close-btn {
	margin-left: 94%;
	margin-bottom: 7px;
}

.alertsdropdown {
	margin-top: -15px;
}

.scrollbar {
	overflow-x: scroll;
}

.scrollbar::-webkit-scrollbar {
	height: 6px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(124, 181, 236);
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

.carousel-control {
	width: 2% !important;
}

.highcharts-credits {
	display: none !important;
}

.model-list {
	display: table;
}

.btn-primary {
	background-color: #1e31d5 !important;
}

.modal-header {
	background-image: linear-gradient(#030b54, #001e98);
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	padding: 3px !important;
}

.modal-body {
	height: 53vh;
	overflow-y: auto;
	padding: 0px !important;
}

.modal-header1 {
	background-image: linear-gradient(#030b54, #001e98);
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	padding: 15px;
	color: #fff;
}

.modal-body1 {
	position: relative;
	padding: 15px;
	height: 450px;
	overflow-y: auto;
}

.close, .close:hover {
	color: #fff !important;
	opacity: 1 !important;
}

.top-orders {
	font-weight: bold;
}

.modal-body {
	scrollbar-color: #0047ee #f1f1f1;
	scrollbar-width: 15px;
}

.modal-body::-webkit-scrollbar {
	width: 15px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
	background: #f1f1f1;
	box-shadow: inset 0 0 5px grey;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
	background: #0047ee;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
	background: #0047ee;
}

#slider {
	position: relative;
	overflow: hidden;
}

#slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	height: 200px;
	list-style: none;
}

#slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 990px;
	height: 418px;
	text-align: center;
}

.slider_option {
	position: relative;
	margin: 10px auto;
	width: 160px;
	font-size: 18px;
}

.chartstable {
	width: 100% !important;
	padding:15px 39px !important;
}
.detailestable{
	width: 100% !important;
	padding:15px 15px !important;
}
.boxes ul {
    display: none;
}
.historydate {
	font-size: 14px !important;
	margin-top: 9px;
	text-align: left;
	}
/* Media Queries */
@media only screen and (max-width: 1280px) {
	#slider{
		width: 940px !important;
	}
	.chartstable {
		width: 98% !important;
	}
	.issuedrpdwn{
		font-size:2.1vh;
	}
	.tradbtn, .issuedrpdwn{
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 1120px) {
	#slider{
		width: 820px !important;
	}
	.tradbtn, .issuedrpdwn {
		font-size: 12px !important;
	}
	.chartstable {
		width: 98% !important;
	}
	.issuedrpdwn{
		font-size:2.1vh;
	}
}
@media only screen and (device-width: 1920px) {
	body {
        font-size: 15px !important;
	}
	#slider{
		width: 1417px  !important;
		height:675px !important;
	}
	#slider ul li{
		width: 1417px  !important;
		height:675px !important;
	}
	.tpordbtn{
	padding:6px 12px !important;
	font-size:14px !important;
	margin-bottom:10px !important;
}
	.tradbtn {
		padding: 5px 10px !important;
		font-size: 24px !important;
	}
	.navbar {
		position: relative;
		min-height: 100px;
	}
	.navbar-brand img{
		height:90px !important;
	}
	.headermenu {
		margin-top: 20px !important;
	}
	.headermenu li a {
		font-size: 20px !important;
	}
	.rtalerts li {
		padding: 10px !important;
	}
	.indusname {
		font-size: 24px !important;
	}
	.anom2 {
		font-size: 20px !important;
		padding: 25px !important;
	}	
	.anom1 {
		font-size: 20px !important;
		padding: 25px !important;
	}
	.anomalerts ul li span {
		padding: 10px !important;
	}
	.issuedrpdwn{
		font-size:2.1vh !important;
	}
	.historydate {
		font-size: 17px !important;
		text-align: left;
		margin-top: 22px;
	}
	.headcolor {
		padding: 13px !important;
		font-size:24px;
	}
	.anomalerts p {
		font-size:24px !important;
	}
	.anomalerts{
		font-size:20px !important;
	}

}





.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    display: block;
    position: absolute;
    transform: scaleY(0);

    transition: all .7s ease-in-out;
	width:98%;
}

.slide img {
    width: 100%;
    height: 100%;
}

.control_prev:hover, .control_next:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease;
	background-image:linear-gradient(to bottom, #4285f4, #4285f4);
}


.nav label {
	width: 30px;
	height: 30px;
    display: none;
	top: 40%;
    position: absolute;
    z-index: 999;
    cursor: pointer;
	opacity: 0.6;
    transition: opacity .2s;
    color: #FFF;
	font-size: 20px;
    text-align: center;
	border-radius:15px;
	background-image:linear-gradient(to bottom, #000, #000);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .control_prev{
	left: 15px;
}

.nav .control_next{ 
	right: 15px;
	padding: 0 0 0 0px; 
}

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }
/* Media Queries end */


.btn:active{
	background-color:#03086c !important;
}
.active{
	background-color: #03086c !important;
}

.anom1 a{
	color:#fff;
	text-decoration: none;
}
/*  tabs in detail page*/
.tablerwidth{
/* border:1px solid #2e6da4; */
}
.tablerwidth label{
	width:100%
}
.tablerwidth .btn{
	line-height:1.2 !important;
	border-radius:0px !important;
}
.tablerwidth .btn-primary{ 
	border: 1px solid #2e6da4 !important;
}
.padtabss{
	padding:0px 23px 0 23px;	
}
.padlr25{
	padding:0 23px 0 23px;
}
.divpiechart{
	width:25%;
}